{
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  
    "plugins": [
      "es"
    ],
    "rules": {
      "es/no-object-spread": 0
    }
  }

